#header{
	position: fixed !important;
    top: 0;
    width: 100%;
    padding: 0 0 0 0;
    z-index: 1000;
}

.header-breadcrumb{
	background-size: 100% 100%;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 80px !important;
    height: 170px !important;
    width: 100%;
}
.header-breadcrumb .page-title h1{
	padding-top: 70px;
}

.text-uppercase{
	text-transform: uppercase;
	font-weight: bold;
}
#fb-page{
	width: 100%;
}
.fb-page {
	width: 100%;
	min-height: 300px;
}
hr{
	width: 97.5%;
	margin-top: 15px;
	margin-bottom: 10px;
	
}
.margin-top-0{
	margin-top:0px !important;
}
.related_topics{
	margin-top: 15px;
}
.related_topics span{
	background: #f6d014;
	padding: 10px 15px;
	color: black;
}
.navbar-brand img{
	width: 33%;
}
.text-left-tpt{
	text-align: left !important;
}
.table-tpt{
	border-bottom: 3px solid;
	margin-top: 15px;
	margin-bottom: 15px;
}
.table-tpt th{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
.bold{
	font-weight: bold;
}
.btn-type-design{
	text-align: center;
	padding: 10px 0px;
}
.box-dutoan{
	padding: 0px 5px 5px 5px;
	border: 1px solid;
	margin-top: 15px;
}
.breadcrumb-section {
	padding: 70px 0;
}
.ptb-10{
	padding: 10px 0;
}
ul.related-posts a{
	color: black;	
}
ul.related-posts a:hover{
	color: #f6d014;	
}
.color-black{
	color: #999 !important;
}
.color-black.active{
	color: #fbb900 !important;
}
.c-phong-thuy{
	background: #1e2029;
	padding: 15px 0px;
	margin-bottom: 35px;
}
.pad-t35 {
	padding-top: 35px;
}
a.btn-contact {
	background: #f6d113;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}
.item-price span{
	font-size: 12pt;
	font-weight: bold;
}
button.addcart-link{
	background: #fff !important;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
	background-color: #fff !important;
	border: 1.5px solid #000;
    margin-left: 5px;
}
button.addcart-link:hover{
	color: #fff;
	background-color: #f6d014 !important;
	border: 2px solid #f6d014;
}
.input-number, .button-cart{
	padding: 0px;
}
.input-number input{
	width: 100%;
	padding-left: 15px;
	border: 1px solid;
}
.pro-description{
	margin-top: 20px;
}
div.post-thumb{
	text-align: center;
}
input[type='email'], input[type='date'], input[type='search'], input[type='number'], input[type='text'], input[type='tel'], input[type='url'], input[type='password'], textarea, select, .select2-container .select2-choice, .select2-container .select2-selection {
	box-sizing: border-box;
	border: 1px solid #ddd;
	padding: 0 .75em;
	height: 2.507em;
	font-size: .97em;
	border-radius: 0;
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	background-color: #fff;
	color: #333;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	transition: color .3s, border .3s, background .3s, opacity .3s;
}
textarea {
    padding-top: 0.7em;
    min-height: 120px;
}
#place_order{
	text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 0px;
    background: #fff;
    color: #000;
    background-color: #fff;
}
#place_order:hover{
    border: 2px solid #f6d014;
    background: #f6d014;
    color: #000;
}
a.checkout-button{
	text-transform: uppercase;
    border: 2px solid #f6d014 !important;
    border-radius: 0px !important;
    color: #000 !important;
    background-color: #f6d014 !important;
    margin-bottom: 15px !important;
}
a.checkout-button:hover{
	color: #fff !important;
}
.woocommerce input.button{
	text-transform: uppercase;
    border: 2px solid #f6d014 !important;
    border-radius: 0px !important;
    color: #000 !important;
    background-color: #f6d014 !important;
}
.wpcf7-form textarea {
     min-height: 120px !important; 
}
.pro-box:nth-child(3n+1) {
    clear: both;
}
ul.page-numbers{
    text-align: center;
}
ul.page-numbers li{
    display: inline-block;
}

ul.page-numbers li a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    background: #fff;
}
ul.page-numbers li a:hover{
    color: #fff;
    background: #f6d014;
}

li span.current {
    border: 1px solid #f6d014;
    padding: 5px 12px;
    background: #f6d014;
    color: #fff;
}
.item-price{
    margin: 10px 0px;
}
.item-price span{
    font-size: 12pt;
    font-weight: bold;
}
a.btn-contact{
    background: #f6d113;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.pad-t50{
	padding-top: 50px;
}
.blog-post .blog-img, .single-blog-post .blog-img{
	max-height: 250px;
}
.latest-news-img img{
	max-height: 160px;
}
.btn-file {
    padding: 20px 12px !important;
    line-height: 0.1;
}

.tp-leftarrow:before{
	content: '' !important;
	background: url('../images/icon/left-arrow-grey.png');
	background-size: 30px !important;
	background-position: center left;
	background-repeat: no-repeat;
}
.tp-rightarrow:before{
	content: '' !important;
	background: url('../images/icon/right-arrow-grey.png');
	background-size: 30px !important;
	background-position: center right;
	background-repeat: no-repeat;
}
.latest-news p{
	line-height: 15px;
}
.widget-content .post-title{
	padding: 10px 0 15px 0;
}
.widget-content .post-title a{
	color: #000;
}
.widget-content .post-title a:hover{
	color: #f6d014;
}
.has-sub-cat a{
	color: #000;
}
.has-sub-cat a:hover{
	color: #f6d014;
}
.has-sub-cat.active a{
	color: #f6d014;
}
.footer-text p:hover{
	color: #f6d014;	
}