#header {
	position: fixed !important;
	top: 0;
	width: 100%;
	padding: 0 0 0 0;
	z-index: 1000;
}

.header-breadcrumb {
	background-size: 100% 100%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 80px !important;
	height: 300px;
	width: 100%;
}

.header-breadcrumb .page-title h1 {
	padding-top: 100px;
}

.text-uppercase {
	text-transform: uppercase;
	font-weight: bold;
}

#fb-page {
	width: 100%;
}

.fb-page {
	width: 100%;
	min-height: 300px;
}

hr {
	width: 97.5%;
	margin-top: 15px;
	margin-bottom: 10px;

}

.margin-top-0 {
	margin-top: 0px !important;
}

.related_topics {
	margin-top: 15px;
}

.related_topics span {
	background: #feb813;
	padding: 3px 5px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
}

.navbar-brand img {
	width: 70%;
	margin-top: 0px;
}

.text-left-tpt {
	text-align: left !important;
}

.table-tpt {
	border-bottom: 3px solid;
	margin-top: 15px;
	margin-bottom: 15px;
}

.table-tpt th {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.btn-type-design {
	text-align: center;
	padding: 10px 0px;
}

.box-dutoan {
	padding: 0px 5px 5px 5px;
	border: 1px solid;
	margin-top: 15px;
}

.breadcrumb-section {
	padding: 70px 0;
}

.ptb-10 {
	padding: 10px 0;
}

ul.related-posts a {
	color: black;
}

ul.related-posts a:hover {
	color: #feb813;
}

.color-black {
	color: #999 !important;
}

.color-black.active {
	color: #fbb900 !important;
}

.c-phong-thuy {
	background: #1e2029;
	padding: 15px 0px;
	margin-bottom: 35px;
}

.pad-t35 {
	padding-top: 35px;
}

a.btn-contact {
	background: #f6d113;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.item-price span {
	font-size: 12pt;
	font-weight: bold;
}

button.addcart-link {
	background: #fff !important;
	text-transform: uppercase;
	font-weight: bold;
	color: #000;
	background-color: #fff !important;
	border: 1.5px solid #000;
	margin-left: 5px;
	padding: 5px 10px !important;
}

button.addcart-link:hover {
	color: #fff;
	background-color: #feb813 !important;
	border: 2px solid #feb813;
}

.input-number,
.button-cart {
	padding: 0px;
}

.input-number input {
	width: 100%;
	padding-left: 15px;
	border: 1px solid;
}

.pro-description {
	margin-top: 20px;
}

div.post-thumb {
	text-align: center;
}

input[type='email'],
input[type='date'],
input[type='search'],
input[type='number'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select,
.select2-container .select2-choice,
.select2-container .select2-selection {
	box-sizing: border-box;
	border: 1px solid #ddd;
	padding: 0 .75em;
	height: 2.507em;
	font-size: .97em;
	border-radius: 0;
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	background-color: #fff;
	color: #333;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	transition: color .3s, border .3s, background .3s, opacity .3s;
}

textarea {
	padding-top: 0.7em;
	min-height: 120px;
}

#place_order {
	text-transform: uppercase;
	border: 2px solid #000;
	border-radius: 0px;
	background: #fff;
	color: #000;
	background-color: #fff;
}

#place_order:hover {
	border: 2px solid #feb813;
	background: #feb813;
	color: #000;
}

a.checkout-button {
	text-transform: uppercase;
	border: 2px solid #feb813 !important;
	border-radius: 0px !important;
	color: #000 !important;
	background-color: #feb813 !important;
	margin-bottom: 15px !important;
}

a.checkout-button:hover {
	color: #fff !important;
}

.woocommerce input.button {
	text-transform: uppercase;
	border: 2px solid #feb813 !important;
	border-radius: 0px !important;
	color: #000 !important;
	background-color: #feb813 !important;
}

.wpcf7-form textarea {
	min-height: 120px !important;
}

.pro-box:nth-child(3n+1) {
	clear: both;
}
.pro-box{
	padding: 20px 15px;
    height: 100%;
    margin-bottom: 10px;
    height: 370px;
}
.p-content{
	padding: 20px 5px;
    background: #fff;
    height: 100%;
    position: relative;
}
.pro-title a:hover{
	color: #f6d113;
}
.pro-title a{
	color: #000;
}
.pro-title h5{
	text-transform: initial;
}
.pro-price{
	color: #feb813;
}
.hotline{
	position: relative;
	padding-left: 40px;
}
.hotline span{
	font-size: 25px;
    font-weight: 600;
    color: #feb813;
    line-height: 30px;
}
.hotline .fa{
	font-size: 73px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #feb813;
    position: absolute;
    left: 0;
    top: 9px;
}
ul.page-numbers {
	text-align: center;
}

ul.page-numbers li {
	display: inline-block;
}

ul.page-numbers li a {
	color: #ccc;
	border: 1px solid #ccc;
	padding: 5px 10px;
	background: #fff;
}

ul.page-numbers li a:hover {
	color: #fff;
	background: #feb813;
}

li span.current {
	border: 1px solid #feb813;
	padding: 5px 12px;
	background: #feb813;
	color: #fff;
}

.item-price {
	margin: 10px 0px;
	color: #FEB813;
}

.item-price span {
	font-size: 12pt;
	font-weight: bold;
}

a.btn-contact {
	background: #f6d113;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.pad-t50 {
	padding-top: 50px;
}

.blog-post .blog-img,
.single-blog-post .blog-img {
	/* max-height: 250px; */
}

.latest-news-img img {
	max-height: 500px;
}

.btn-file {
	padding: 20px 12px !important;
	line-height: 0.1;
}

.tp-leftarrow:before {
	content: '' !important;
	background: url('../images/icon/left-arrow.png');
	background-size: 30px !important;
	background-position: center left;
	background-repeat: no-repeat;
}

.tp-rightarrow:before {
	content: '' !important;
	background: url('../images/icon/right-arrow.png');
	background-size: 30px !important;
	background-position: center right;
	background-repeat: no-repeat;
}

.latest-news p {
	line-height: 15px;
}

.widget-content .post-title {
	padding: 10px 0 15px 0;
}

.widget-content .post-title a {
	color: #000;
}

.widget-content .post-title a:hover {
	color: #feb813;
}

.has-sub-cat a {
	color: #000;
}

.has-sub-cat a:hover {
	color: #feb813;
}

.has-sub-cat.active a {
	color: #feb813;
}

.footer-text p:hover {
	color: #feb813;
}

.section-detail .feature-2 {
	padding: 20px 0 !important;
}

.portfolio-box .bedroom:nth-child(2n+1) {
	clear: both;
}

.portfolio-box .bedroom img {
	max-height: 400px;
}

.lb-nav a.lb-next {
	width: 7% !important;
}

.fb-like button {
	background: black;
	color: #fff;
}

#span_file {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #999999;
}

.blog-img img {
	max-height: 300px;
}

.single-blog-post .comment-section .comment-form textarea {
	padding-top: 2px;
}

button.inlineBlock,
button#u_0_2 {
	background: black;
	border: 1px solid;
}

.blog-img-detail img {
	width: 100%;
	height: auto;
}

.blog-post .post-content,
.single-blog-post .post-content {
	margin-top: 30px;
}

.social-top ul.top-social li a {
	font-size: 35px;
}

.pad-t160 {
	padding-top: 160px;
}

.grey-bg-row {
	height: 25px;
	background: #3D3D3D;
}

#furniture {
	clear: both;
	padding-top: 170px;
	background: #3f3f3f;
}

ul.cate-products {
	text-align: center;
	margin: 0 auto;
	display: table;
	padding-bottom: 20px;
}

ul.cate-products li {
	float: left;
	padding: 0px 25px;
}

ul.cate-products li a {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

ul.cate-products li a:hover {
	color: #FDB813
}

.btn-search {
	background: #FCC94F;
	color: #fff;
	padding: 9px 40px 8px 10px;
	position: relative;
}

.btn-search:hover {
	background: #FCC94F;
	color: #000;
}

.btn-search:after {
	content: '';
	position: absolute;
	background: url(../images/icon/timkiem.png);
	background-size: cover;
	background-repeat: no-repeat;
	top: 8px;
	right: 5px;
	width: 26px;
	height: 24px;
}

.pro-box {}

.p-content {}

.detail-products {
	background: #e4e5e5;
}

.pro-description {
	background: #fff;
	padding: 15px 10px;
}
#content-products grey-bg{
	background-color: #E4E6E5 !important;
}
.grey-bg{
	background: #E4E6E5 !important;
}
.item-pro{
	padding: 20px 15px;
	background: #fff;
	height: 100%;
	position: relative;
}
.item-title-pro{
	padding: 0px 0 10px 0;
}
.item-title-pro a:hover{
	color: #f6d113;
}
.item-title-pro a{
	color: #000;
}
.item-title-pro h4{
	text-transform: initial;
}
.item-pro-link{
    position: absolute;
    bottom: 10px;
    right: 14px;
}
.read-more{
	color: #FEB813;
}
.ads-container{
	padding: 10px 0;
}
.no-padding{
	padding: 0;
}
.header-text a{
	color: #000;
}
.header-text{
	padding: 25px 10px;
}
.item-pro-wrapper{
	margin-bottom: 10px;
	height: 425px;
}
.item-pro-image{
	width: 100%;
}
.partner{
	display: inline-block;
	padding: 20px 0;
	background: #fff;
}
.partner .item{
	display: inline-block;
    position: relative;
    width: 16%;
    font-size: 0;
    padding: 0 10px;
    vertical-align: middle;
}
.partner-img{
	/* position: absolute; */
}
.header_products{
	padding-bottom: 20px;
}
.du-an-box{
	display: inline-block;
    padding: 20px 0;
}
.du-an-box .bedroom{
	display: inline-block;
    position: relative;
    width: 49%;
    font-size: 0;
    padding: 0 10px;
    vertical-align: middle;
}
@media screen and (max-width: 1920px) {
	.navbar.navbar-default .navbar-nav>li>a {
		padding: 70px 20px;
		margin-top: 0;
		font-size: 18px;
	}

	.header-breadcrumb {
		background-size: 100% 100%;
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 80px !important;
		height: 300px;
		width: 100%;
	}

	.header-breadcrumb .page-title h1 {
		padding-top: 155px;
		font-size: 30px;
	}

}

@media screen and (max-width: 1366px) {
	.navbar.navbar-default .navbar-nav>li>a {
		padding: 70px 20px;
		margin-top: 0;
		font-size: 16px;
	}
}

@media screen and (max-width: 1024px) {
	.navbar.navbar-default .navbar-nav>li>a {
		padding: 70px 10px;
		margin-top: 0;
		font-size: 16px;
	}

	.navbar-brand img {
		width: 65%;
		margin-top: 0px;
	}

	.header-breadcrumb {
		background-size: 100% 100%;
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 80px !important;
		height: 210px;
		width: 100%;
	}

	.header-breadcrumb .page-title h1 {
		padding-top: 115px;
		font-size: 24px;
	}

	ul.cate-products li {
		padding: 0px 15px;
	}
}

@media screen and (max-width: 992px) {
	.navbar.navbar-default .navbar-nav>li>a {
		padding: 20px 20px;
		margin-top: -50px;
	}
}

@media screen and (max-width: 768px) {

	.navbar.navbar-default .navbar-nav>li>a {
		padding: 55px 5px;
		font-size: 14px;
	}

	.navbar-brand img {
		width: 50%;
		margin-top: 0px;
	}

	.header-breadcrumb {
		background-size: 100% 100%;
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 80px !important;
		height: 150px;
		width: 100%;
	}

	.header-breadcrumb .page-title h1 {
		padding-top: 60px;
		font-size: 22px;
	}

	#furniture {
		padding-top: 140px;
	}

	ul.cate-products li a {
		font-size: 13px;
	}
}

@media screen and (max-width: 767px) {
	.navbar-default .navbar-brand img {
		width: 15%;
	}
}
@media screen and (max-width: 480px) {
	.partner .item{
		width: 32%;
		margin-bottom: 30px;
	}
	.du-an-box .bedroom{
		width: 100%;
	}
}